aside
    nav
        ul.nav
            li
                a(href="#") Home
            li
                a(href="#") RFP/RFQs
            li
                a(href="#") Settings

            li
                a(href="#") Logout

