script(type="text/javascript", src="/jquery/dist/jquery.min.js")
//script(type="text/javascript", src="bootstrap/dist/js/bootstrap.min.js")
script(type="text/javascript", src="/angular/angular.min.js")
script(type="text/javascript", src="/angular-resource/angular-resource.min.js")
script(type="text/javascript", src="/angular-route/angular-route.min.js")
script(type="text/javascript", src="/javascripts/vendor.js")
script(type="text/javascript", src="/javascripts/mvVendorCtrl.js")